* {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}
.game .message {
  font-weight: bold;
}
a.available {
  cursor: pointer;
}
a.active {
  font-weight: bold;
}